.gradient {
  background-image: linear-gradient(
    to right,
    #1e1e1e,
    transparent,
    rgb(31, 31, 31)
  );
  background-size: "cover";
  background-position: "center";
}
/* "linear-gradient(to right, black, transparent, black)" */
